@font-face {
  font-display: block;
  font-family: "eye-candy-icons";
  src: url("../font/eye-candy-icons.eot?27161595");
  src: url("../font/eye-candy-icons.eot?27161595#iefix") format("embedded-opentype"),
    url("../font/eye-candy-icons.woff2?27161595") format("woff2"), url("../font/eye-candy-icons.woff?27161595") format("woff"),
    url("../font/eye-candy-icons.ttf?27161595") format("truetype"),
    url("../font/eye-candy-icons.svg?27161595#eye-candy-icons") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'eye-candy-icons';
    src: url('../font/eye-candy-icons.svg?27161595#eye-candy-icons') format('svg');
  }
}
*/

[class^="eci-"]:before,
[class*=" eci-"]:before {
  display: block;
  font-family: eye-candy-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eci-ecc-logo:before {
  content: "\e800";
} /* '' */
.eci-ecc-logo-alt:before {
  content: "\e801";
} /* '' */
.eci-3d-glasses:before {
  content: "\e802";
} /* '' */
.eci-3d-glasses-alt:before {
  content: "\e803";
} /* '' */
.eci-booking:before {
  content: "\e804";
} /* '' */
.eci-booking-times:before {
  content: "\e805";
} /* '' */
.eci-chat:before {
  content: "\e806";
} /* '' */
.eci-chat-alt:before {
  content: "\e807";
} /* '' */
.eci-cinema-building:before {
  content: "\e808";
} /* '' */
.eci-cinema-screen:before {
  content: "\e809";
} /* '' */
.eci-cinema-seating:before {
  content: "\e80a";
} /* '' */
.eci-cinema-seating-alt:before {
  content: "\e80b";
} /* '' */
.eci-clapper:before {
  content: "\e80c";
} /* '' */
.eci-customer-service:before {
  content: "\e80d";
} /* '' */
.eci-exit-door:before {
  content: "\e80e";
} /* '' */
.eci-film-play:before {
  content: "\e80f";
} /* '' */
.eci-film-strip:before {
  content: "\e810";
} /* '' */
.eci-film-strip-alt:before {
  content: "\e811";
} /* '' */
.eci-film-ticket:before {
  content: "\e812";
} /* '' */
.eci-headset:before {
  content: "\e813";
} /* '' */
.eci-headset-alt:before {
  content: "\e814";
} /* '' */
.eci-imax:before {
  content: "\e815";
} /* '' */
.eci-location:before {
  content: "\e816";
} /* '' */
.eci-movie-search:before {
  content: "\e817";
} /* '' */
.eci-movie-tickets:before {
  content: "\e818";
} /* '' */
.eci-movie-tickets-alt:before {
  content: "\e819";
} /* '' */
.eci-ticket-booth:before {
  content: "\e81a";
} /* '' */
.eci-vip:before {
  content: "\e81b";
} /* '' */
.eci-vip-alt:before {
  content: "\e81c";
} /* '' */
.eci-search:before {
  content: "\e81d";
} /* '' */
