
.eci-ecc-logo:before { content: '\e800'; } /* '' */
.eci-ecc-logo-alt:before { content: '\e801'; } /* '' */
.eci-3d-glasses:before { content: '\e802'; } /* '' */
.eci-3d-glasses-alt:before { content: '\e803'; } /* '' */
.eci-booking:before { content: '\e804'; } /* '' */
.eci-booking-times:before { content: '\e805'; } /* '' */
.eci-chat:before { content: '\e806'; } /* '' */
.eci-chat-alt:before { content: '\e807'; } /* '' */
.eci-cinema-building:before { content: '\e808'; } /* '' */
.eci-cinema-screen:before { content: '\e809'; } /* '' */
.eci-cinema-seating:before { content: '\e80a'; } /* '' */
.eci-cinema-seating-alt:before { content: '\e80b'; } /* '' */
.eci-clapper:before { content: '\e80c'; } /* '' */
.eci-customer-service:before { content: '\e80d'; } /* '' */
.eci-exit-door:before { content: '\e80e'; } /* '' */
.eci-film-play:before { content: '\e80f'; } /* '' */
.eci-film-strip:before { content: '\e810'; } /* '' */
.eci-film-strip-alt:before { content: '\e811'; } /* '' */
.eci-film-ticket:before { content: '\e812'; } /* '' */
.eci-headset:before { content: '\e813'; } /* '' */
.eci-headset-alt:before { content: '\e814'; } /* '' */
.eci-imax:before { content: '\e815'; } /* '' */
.eci-location:before { content: '\e816'; } /* '' */
.eci-movie-search:before { content: '\e817'; } /* '' */
.eci-movie-tickets:before { content: '\e818'; } /* '' */
.eci-movie-tickets-alt:before { content: '\e819'; } /* '' */
.eci-ticket-booth:before { content: '\e81a'; } /* '' */
.eci-vip:before { content: '\e81b'; } /* '' */
.eci-vip-alt:before { content: '\e81c'; } /* '' */
.eci-search:before { content: '\e81d'; } /* '' */
