/* Logo & Icons */
@import "./eye-candy-icons/css/eye-candy-icons.css";

:root {
  --color-text: rgb(255, 255, 240);
  --color-bg: rgb(20, 20, 20);
  --color-fg: rgb(31, 31, 31);
  --color-primary: rgb(195, 105, 255);
  --color-secondary: rgb(13, 187, 181);
  --gradient-linear45: linear-gradient(45deg, #d046e8, #9d74ff, #6292ff, #1ca7ff, #00b7ff);
  --gradient-linear345: linear-gradient(345deg, #d046e8, #9d74ff, #6292ff, #1ca7ff, #00b7ff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

* {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  word-spacing: -0.5ch;
}

/* FIREFOX SCROLLBAR */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-bg);
  }
}

/* WEBKIT SCROLLBAR */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  *::-webkit-scrollbar {
    width: 0.45rem;
    height: 0.45rem;
  }

  *::-webkit-scrollbar-track {
    background-color: var(--color-bg);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
  }
}

body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
}

body #main_content {
  position: absolute;
  top: 81px;
  bottom: 27.6px;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

p {
  display: block;
  text-transform: none;
  letter-spacing: 0.07ch;
}

a {
  display: block;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}
